*{
	height: 100%;
	width: 100%;
}
.content{
	height:100%;
   	background-image: url(../img/light.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position: center 0;
	display: flex;
	position: relative;
	z-index: 0;
}
.ret{
	background-size:100%;
   	background-image: url(../img/return.PNG);
	background-repeat:no-repeat;
	background-position: center 0;
	display: flex;
	position: relative;
	z-index: 2;
	width: 8%;
 	height: 8%;
 	top: 0%;
    left:2%;
}
.bottom{
	background-image: url(../img/bottom.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
	top:0;
	z-index: 1;
}
#ball1{
	background-image: url(../img/ball.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
	top:80%;
    left:2%;
  	width: 20%;
 	height: 20%;
 	animation: ball1 1.5s ease-in 0s 1 forwards;
 	
}
#ball2{
	top:80%;
    left:25%;
 	background-image: url(../img/ball.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
  	width: 20%;
 	height: 20%;
 	animation: ball2 1.5s ease-in 0s 1 forwards;
}
#ball3{
	position: absolute;
	top:80%;
    left:50%;
 	background-image: url(../img/ball.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
  	width: 20%;
 	height: 20%;
 	animation: ball3 1.5s ease-in 0s 1 forwards;
}
#ball4{
	position: absolute;
	top:80%;
    left:75%;
 	background-image: url(../img/ball.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
  	width: 20%;
 	height: 20%;
 	animation: ball4 1.5s ease-in 0s 1 forwards;
}
.t{
	background-image: url(../img/storelight.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
	width: 48%;
 	height: 40%;
	top:14%;
	left: 24%;
	z-index:2 ;
}
.top{
	background-image: url(../img/head.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
	top:0;
}

.line1{
 	background-image: url(../img/line.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
 	animation: line1 1.5s ease-in 1.8s 1 forwards,back1 1.5s ease-in 0s 1 forwards;
	position: absolute;
top:35%;
left: 33%;
/*50%top:20%;left:70%;*/
  	width: 20%;
 	height: 20%;
z-index:2 ;
}
.line2{
 	background-image: url(../img/line.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
 	animation: line2 1.5s ease-in 1.8s 1 forwards,back2 1.5s ease-in 0s 1 forwards;
	position: absolute;
top:35%;
left: 33%;
/*50%top:20%;left:70%;*/
  	width: 20%;
 	height: 20%;
 	z-index:2 ;
}
.line3{
 	background-image: url(../img/line.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
 	animation: line3 1.5s ease-in 1.8s 1 forwards,back3 1.5s ease-in 0s 1 forwards;
	position: absolute;
top:35%;
left: 33%;
/*50%top:20%;left:70%;*/
  	width: 20%;
 	height: 20%;
 	z-index:2 ;
}
.line4{
 	background-image: url(../img/line.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
 	animation: line4 1.5s ease-in 1.8s 1 forwards,back4 1.5s ease-in 0s 1 forwards;
	position: absolute;
top:35%;
left: 33%;
/*50%top:20%;left:70%;*/
  	width: 20%;
 	height: 20%;
 	z-index:2 ;
}
