*{
	height: 100%;
	width: 100%;
}
.content{
	height:100%;
   	background-image: url(../img/light.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position: center 0;
	display: flex;
	position: relative;
	z-index: 0;
}
.bottom{
	background-image: url(../img/bottom.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
	top:0;
	z-index: 1;
}
#ball1{
	background-image: url(../img/ball.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
	top:80%;
    left:2%;
  	width: 20%;
 	height: 20%;
 	animation: ball1 1.5s ease-in 0s 1 forwards;
 	
}
#ball2{
	top:80%;
    left:25%;
 	background-image: url(../img/ball.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
  	width: 20%;
 	height: 20%;
 	animation: ball2 1.5s ease-in 0s 1 forwards;
}
#ball3{
	position: absolute;
	top:80%;
    left:50%;
 	background-image: url(../img/ball.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
  	width: 20%;
 	height: 20%;
 	animation: ball3 1.5s ease-in 0s 1 forwards;
}
#ball4{
	position: absolute;
	top:80%;
    left:75%;
 	background-image: url(../img/ball.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
  	width: 20%;
 	height: 20%;
 	animation: ball4 1.5s ease-in 0s 1 forwards;
}
.t{
	background-image: url(../img/storelight.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
	position: absolute;
	width: 55%;
 	height: 55%;
	top:9%;
	left: 18%;
	z-index:2 ;
}
.top{
	position: absolute;
	top:0;
}

.line1{
	position: absolute;
	top:80%;
    left:2%;
	display: none;

/*top:20%;left:70%;*/
  	width: 20%;
 	height: 20%;
}
.line2{
	display: none;
	position: absolute;
	top:80%;
    left:25%;
  	width: 20%;
 	height: 20%;
}
.line3{
	display: none;
	position: absolute;
	top:80%;
    left:50%;
  	width: 20%;
 	height: 20%;	
}
.line4{
	display: none;
	position: absolute;
	top:80%;
    left:75%;
  	width: 20%;
 	height: 20%;	
}
