*{
	margin: 0 auto;
}
img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.cover{
	position: absolute;
	width: 100%;
	height: 75%;
	/* margin-top: 117px;
	margin-left: 310px; */
	background-color: #80b11a;
}
.bad-1{
	position: absolute;
	width: 200px;
	height: 180px;
	left: 10%;
	top: 10%;
	transform: rotateY(180deg);   /* 水平镜像翻转 */
}
.bad-2{
	position: absolute;
	width: 255px;
	height: 232px;
	left: 30%;
	top: 15%;
	transform: rotateY(180deg);   /* 水平镜像翻转 */
}
.bad-3{
	position: absolute;
	width: 230px;
	height: 210px;
	left: 55%;
	top: 60%;
}
.bad-1,.bad-2,.bad-3{
	background-image: url(../img/坏毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
.good-1{
	position: absolute;
	width: 270px;
	height: 245px;
	left: 15%;
	top: 60%;
}
.good-2{
	position: absolute;
	width: 295px;
	height: 260px;
	left: 70%;
	top: 50%;
	transform: rotateY(180deg);   /* 水平镜像翻转 */
}
.good-3{
	position: absolute;
	width: 320px;
	height: 300px;
	left: 35%;
	top: 55%;
}
.good-1,.good-2,.good-3{
	background-image: url(../img/有毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
.none-1{
	position: absolute;
	width: 255px;
	height: 230px;
	left: 60%;
	top: 15%;
}
.none-1{
	background-image: url(../img/无毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
