* {
	margin: 0 auto;
	padding: 0;
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
    background-image: url('../img/gamebg.jpg');
    background-size: cover;
    background-position: center center;
}

#textContainer{
	width: 45%;
	height: 50px;
	padding-top: 100px;
	font-size: 25px;
}

/* 进入按钮 */
#button {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 49px;
  height: 49px;
  background-image: url('../img/enterd.png');
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  filter: blur(0px); /* 初始模糊度 */
}
