* {
	margin: 0 auto;
	padding: 0;
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  background-image: url('../img/testbackground.png');
  background-size: cover;
  background-position: center center;
}

.contain{
    width: 90%;
	height: 90%;
	padding: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

.title {
  width: 80%;
  height: 10%;
  background-size: cover;
  background-position: center center;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  justify-content: center;  /* 水平居中对齐 */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #292828;
}

.content{
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: center;
	background-color: rgba(249, 242, 151, 0.7);
	margin-top: 25px;
	padding: 40px 20px;
	border-radius: 15px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.questions{
	display: flexbox;
	width: 65%;
	padding: 40px 20px;
	background-color: rgba(105, 196, 64, 0.4);
	border-radius: 15px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.number{
	display: flexbox;
	width: 20%;
	padding: 40px 20px;
	background-color: rgba(187, 239, 164, 0.9);
	border-radius: 15px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

