*{
	height: 100%;
	width: 100%;
}
.content{
	/* position: fixed; */
	height: 100%;
	background-image: url(../img/86284335dffa8746ff1bd2609db9d1b.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100% ;

}
.bad-1{
	position: absolute;
	width: 20%;
	height: 10%;
	top: 15%;
	left: 10%;
	transform: rotateY(180deg);
}
.bad-2{
	position: absolute;
	width: 30%;
	height: 15%;
	top: 25%;
	left: 20%;
	transform: rotateY(180deg);
}
.bad-3{
	position: absolute;
	width: 30%;
	height: 15%;
	top: 65%;
	left: 50%;
}
.bad-1,.bad-2,.bad-3{
	background-image: url(../img/坏毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
.good-1{
	position: absolute;
	width: 30%;
	height: 15%;
	top: 35%;
	left: 50%;
	z-index: 10;
	user-select: none;
}
.good-2{
	position: absolute;
	width: 20%;
	height: 10%;
	top: 45%;
	left: 30%;
	transform: rotateY(180deg);   /* 水平镜像翻转 */
}
.good-3{
	position: absolute;
	width: 35%;
	height: 18%;
	top: 18%;
	left: 60%;
}
.good-1,.good-2,.good-3{
	background-image: url(../img/有毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
.none-1{
	position: absolute;
	width: 20%;
	height: 10%;
	top: 55%;
	left: 20%;
}
.none-1{
	background-image: url(../img/无毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
