*{
	margin: 0 auto;
}
.content{
	position: absolute;
	width: 640px;
	height: 1030px;
	background-image: url(../img/效果参考（没画羊圈版：）.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.cover{
	position:absolute;
	width: 640px;
	height: 670px;
	margin-top: 100px;
	background-color: #80b11a;
}
.bad-1{
	position: absolute;
	width: 130px;
	height: 120px;
	margin-top: 23px;
	margin-left: 165px;
	transform: rotateY(180deg);
}
.bad-2{
	position: absolute;
	width: 155px;
	height: 132px;
	margin-top: 70px;
	margin-left: 300px;
	transform: rotateY(180deg);
}
.bad-3{
	position: absolute;
	width: 130px;
	height: 110px;
	margin-top: 470px;
	margin-left: 105px;
}
.bad-1,.bad-2,.bad-3{
	background-image: url(../img/坏毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
.good-1{
	position: absolute;
	width: 160px;
	height: 135px;
	margin-top: 210px;
	margin-left: 50px;
	z-index: 10;
	user-select: none;
}
.good-2{
	position: absolute;
	width: 195px;
	height: 160px;
	margin-top: 240px;
	margin-left: 350px;
	transform: rotateY(180deg);   /* 水平镜像翻转 */
}
.good-3{
	position: absolute;
	width: 120px;
	height: 100px;
	margin-top: 565px;
	margin-left: 330px;
}
.good-1,.good-2,.good-3{
	background-image: url(../img/有毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
.none-1{
	position: absolute;
	width: 155px;
	height: 130px;
	margin-top: 340px;
	margin-left: 195px;
}
.none-1{
	background-image: url(../img/无毛羊.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 100% 100%;
}
